[Unit]
Description=PipeWire Audio Effects/Processing
Requires=pipewire.service
After=pipewire.service

[Service]
ExecStart=/usr/bin/easyeffects --gapplication-service
Restart=always

[Install]
WantedBy=default.target
